[submodule "external/project-v-core"]
	path = external/project-v-core
	url = https://github.com/TheBossBaby/project-v-core
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
