[submodule "external/project-v-core"]
	path = external/project-v-core
	url = https://github.com/TheBossBaby/project-v-core
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
